<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Board@Work</title>
    <link rel="stylesheet" href="/public/assets/css/adminStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header class='nav'>

<ul>
    <li><img src='/public/assets/images/yawn.jpg' width=100px height=100px></li>
        
    <li>Board@Work</li>
  

  <li><p>My Account</p></li>
    </ul>
</header>

<body>
    <div class='stickyNotes'>
        <ul>

            <li>
                <a>           
                    <section id='admin'>
                   
                        <h1>Announcements</h1>
                        <p>{{announcement}}</p>
                   
                </section>
            </a>
        </li>


    </ul>





</body>

</html>