<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Board@Work</title>
    <link rel="stylesheet" href="stylesheets/mainStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<header class='nav'>
    <img src='/public/assets/images/yawn.jpg' width=125px height=130px>
    <p><a href="#">Board@Work</a></p>
    <p><a href="admin.html">Admin</a></p>
</header>

<body>
    <section>
        {{{body}}}
    </section>
</body>