body {
  background-image: url('../assets/images/corkboard.jpg');
  background-color: #999999;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.stickyNotes {
  margin-top: 40px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.stickyNotes h1 {
  font-size: 1.3rem;
}

h2 {
  font-weight: bold;
  font-size: 1rem;
  flex-wrap: wrap;
}

p {
  font-size: small;
  font-weight: normal;
}

ul,
li {
  list-style: none;
}
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul li {
  margin: 1em;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

p {
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}

ul li a {
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  width: 10em;
  padding: 1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  transform: rotate(-6deg);
  transition: transform 0.15s linear;
}

ul li:nth-child(even) a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a:hover,
ul li a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

/*----------------Navbar ------------ */
header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

header p {
  float: left;
}

header img {
  float: left;
  content: url('../assets/images/yawn.jpg');
  width: 125px;
  height: 130px;
}

header a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
header p a:hover {
  background-color: #111;
}

header p a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header p a {
  font-weight: bolder;
  font-family: 'chalky';
  color: ivory;
}
/* Change the link color to #111 (black) on hover */
/* li a:hover {
    background-color: rgb(209, 172, 172);
  } */
